<ion-header [translucent]="true" class="unselectable">
  <ion-toolbar>
    <ion-title>
      Liste des films
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="unselectable">
  <ion-item *ngFor="let movie of moviesList" (click)="displayDetails(movie)" class="ion-activatable ripple-parent">
    <ion-thumbnail slot="start"><img src="{{movie.image}}" alt="Image Error"></ion-thumbnail>
    <ion-label>
      <h2>{{movie.titre}}</h2>
      <!-- <h3>{{movie.year}}</h3>
      <h3>{{movie.genres}}</h3> -->
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer collapse="fade">
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
</ion-footer>